
@media screen and (min-width: 640px)
.quick-box .nav li img {
    height: 58px;
    width: 58px;
}

@media screen and (min-width: 414px)
.quick-box .nav li img {
    height: 38px;
    width: 38px;
}
@media screen and (min-width: 375px) 
.quick-box .nav li img {
    height: 34px;
    width: 34px;
}


@media screen and (min-width: 640px){
    font-size: 22px;
}

@media screen and (min-width: 414px){
    font-size: 14px;
}

@media screen and (min-width: 375px){
    font-size: 13px;
}

/* --------------------------- 以上是媒体查询部分 ---------------------------*/

*{
	padding: 0;
	margin:0;
	list-style: none;
	text-decoration: none;
    /*vertical-align: baseline;*/
}
.myhome {
    padding: 0;
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
}

body{
    background: #fff;
    min-width: 320px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: PingFangSC-Regular,Helvetica,"Droid Sans",Arial,sans-serif;
}

.viewport-new {
    position: relative;
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #f3f3f3;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
header {
    max-width: 640px;
	width:100%;
    height: 45px;
    position: fixed;   
    top:0;
    z-index: 999;
    opacity: 0.85;
}
.jd-logo{
    display: inline-block;
}
.jd-logo i{
	font-size: 20px;
	padding-left: 10px;
    padding-right:8px;
    color:#fff;
}
.search-placeholder{
	display: inline-block;
}
.search-placeholder span{
	display: inline-block;
	color:#989191;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	background:#fff;
	width: 500px;
}
.jd-login {
    display: inline-block;
}
.jd-login .jd-search-login {
    display: inline-block;
    margin-top: 11px;
    font-size: 20px;
    color: #fff;
}


/*------------------------------------------轮播样式------------------------------------------*/
.slick-wrap {
    float: left;
    overflow: hidden;
    width: 100%;
    height: 286px;
    background: #fff;
}
.small-slide{
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 155px;
    background:#f0f2f5; 
}
.carousel{
    position: relative;
    width: 100%;
    height:286px;
    overflow: hidden;
    margin:0 auto;
}
.view{
    position: absolute;/*绝对定位后才可以通过JS来偏移，相对于父元素.slides绝对定位，以便设置初始状态默认显示第一张图片 left:0-imgWidth*/
}
.view li{
    float: left;
}
.carousel:hover{
    display: block;
}
.btn{
    bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.btn li{
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 5px;
    display: inline-block;
    border:1px solid #fff;
    border-radius: 100%;
}
.btn li.active{
    background: #fff;
}
.quick-box {
    overflow: hidden;
    background-color: #f5f5f5;
    width:100%;
    height:284px;
}
.quick-box>ul {
    width: 100%;
    overflow: hidden;
}
.quick-box li {
    float: left;
    width: 20%;
    height:50%;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
.quick-box li a:hover{
    color:#f04848;
}
.quick-box li a {
    display: block;
    overflow: hidden;
    font-size: 0;
    color: #666;
    height: 94px;
    margin: 20px 0 18px 0;
}
.quick-box li a img {
    width: 58px;
    height: 58px;
    margin: 0 auto 4px auto;
    display: block;
}
.quick-box li a span {
    color: #666;
    font-size:22px;
    overflow: hidden;
}
.jd-news{
    background: #f5f5f5; 
    height: 40px;
    line-height: 40px;
    width: 100%;   
}
.jd-express-news {
    height: 30px;
    font-size: 12px;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
    margin:0 10px;
}
.jd-express-news {
    padding: 0 42px 0 75px;
    height: 30px;
    overflow: hidden;
}
.jd-express-news .title {
    width: 73px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 8px;
    display: block;
}
.jd-express-news .title img {
    width: 73px;
    height: 16px;
}
.jd-express-news .news-item{
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    margin: 7px 16px;
}
.jd-express-news .news-item a{
    color:#181818;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    line-height: 16px;
    height: 16px;
}
.jd-express-news .news-item a .red{
    color:red;
    padding-right: 5px;
}
.jd-express-news .jd-news-more {
    font-size: 12px;
    color: #181818;
    position: absolute;
    right: 8px;
    top: 7px;
    line-height: 16px;
}
.jd-express-news .jd-news-more .line {
    background: #ececec;
    width: 1px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.seckill-floor .seckill-title {
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
}
.seckill-title{
    overflow: hidden;
}
.seckill-left-link {
    display: inline-block;
    float: left;
    width: 68%;
}
.seckill-tit-img {
    float: left;
    display: inline-block;
    width: 69px;
    height: 27px;
    margin-top: 4px;
    margin-right: 6px;
}
.seckill-nth {
    font-size: 12px;
    color: #232326;
    font-weight: bold;
    display: inline-block;
}
.seckill-title .seckill-nth, .seckill-title .seckill-timer {
    vertical-align: middle;
}
.seckill-timer {
    display: inline-block;
    margin: 0 0 0 6px;
}
.seckill-time {
    width: 18px;
    line-height: 17px;
    color: #232326;
    font-size: 12px;
    position: relative;
}
.seckill-time, .seckill-time-separator {
    float: left;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    height: 16px;
    font-size: 12px;
    text-align: center;
    color: #232326;
}
/*.seckill-time:after {
    border-radius: 2px;
    height: 200%;
    content: '';
    width: 200%;
    border: 1px solid #dfdfdf;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 10;
}*/
.seckill-time-separator {
    width: 6px;
}
.seckill-more-link {    
    display: inline-block;
    color: #f23030;
    font-size: 10px;
    float: right;
}
.seckill-more-link span i{
    color:#fff;
    font-size:6px;
    background:#f23030; 
    border-radius: 100%;
}
.seckill-slider {
    width: 100%;
    overflow: hidden;
    font-size: 0;
}
.seckill-new-list {
    position: relative;
    background-color: #fff;
}
.seckill-new-item {
    float: left;
    margin: 0 0px;
    width: 33.33%;
}
.seckill-item-img {
    min-height: 60px;
}
.seckill-item-img, .seckill-item-price {
    width: 100%;
    padding: 0 25px;
}
.seckill-new-link {
    display: block;
    position: relative;
}
.seckill-tip {
    font-size: 9px;
    height: 12px;
    line-height: 12px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 3px;
    overflow: hidden;
}
.seckill-item-price {
    margin: 0 auto;
    text-align: center;
}
.seckill-new-price {
    margin-top: 11px;
    display: block;
    color: #f23030;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    text-align: center;
    font-weight: bold;
}
.seckill-new-price em {
    font-size: 11px;
    padding-right: 2px;
}
.seckill-original-price {
    color: #686868;
    font-size: 12px;
    line-height: 12px;
    margin: 4px 0 11px 0;
    text-align: center;
    display: block;
    padding: 0 2px;
    display: inline-block;
    position: relative;
}
.seckill-original-price em {
    font-size: 9px;
    position: relative;
    padding-right: 2px;
}
.seckill-original-price hr {
    position: absolute;
    left: 0;
    top: 6px;
    width: 200%;
    height: 1px;
    background-color: #686868;
    transform: scale(0.5,0.5);
    transform-origin: left top;
}
.floor-graphic-item {
    width: 100%;
    font-size: 100%;
    overflow: hidden;
}
.graphic-col02-sm {
    min-height: 90px;
}
.graphic-col02-sm{
    width: 50%;
    position: relative;
    height: 100%;
    float: left;
}
.graphic-col04-bg {
    position: relative;
    width: 25%;
    float: left;
}
.real-show {
    padding: 7px 0 5px 0;
}
.graphic-col02-sm .graphic-text {
    width: 160px;
    padding-right: 3px;
}
.graphic-text {
    float: left;
    width: 55.625%;
    padding: 0 4px 0 8px;
    overflow: hidden;
}

.graphic-tit {
    font-size: 28px;
    line-height: 34px;
    color: #181818;
    display: block;
    overflow: hidden;
    font-weight: 600;
    width: 160px;
}
.graphic-wz {
    height: 30px;
    font-size: 22px;
    line-height: 30px;
    color: #686868;
    overflow: hidden;
    width: 160px;
}
.graphic-col02-sm .graphic-img {
    width: 45%;
    float: right;
}
.graphic-img {
    padding-right: 5px;
    height: 100%;
}
.graphic-img img {
    overflow: hidden;
    text-align: center;
}
.bdr-r:after {
    height: 100%;
    content: '';
    width: 1px;
    border-right: 1px solid #f0f0f0;
    position: absolute;
    top: 0;
    right:-4px;
    z-index: 10;
}

.floor-title {
    position: relative;
}
.floor-tit-img .tit-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
    bottom: 0;
    height: 73.6%;
    margin: auto;
    display: block;
    overflow: hidden;
}
.floor-tit-img .tit-img img {
    display: block;
    width: auto;
    max-height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
.graphic-btn{
    display: inline-block;
    text-align: center;
    height: 32px;
    line-height: 32px;
    color:#fff;
    padding:0 3px;
}
.graphic-col04-bg {
    min-height: 103px;
}
.graphic-col04-bg .graphic-wz, .graphic-col04-bg .graphic-tit {
    width:146px;
    margin-right: 10px;
}
.graphic-col04-bg .graphic-wz{
	font-size:16px;
}
.graphic-btn-min{
    display: inline-block;
    position: absolute;
    bottom:0;
    left: 0;
    font-size: 18px;
    height: 22px;
    line-height: 22px;
    padding:0 4px;
    z-index: 20;
    color:#fff;
    text-align: center;
}
.love-floor {
    background-color: #f0f2f5; 
}
.gray-text {   
    margin: 14px 5px;
    color: #848689;
    font-size: 14px;
}
.gray-layout {
    padding: 0 267px;
}

.similar-li:nth-child(2n+1) {
    padding-right: 2px;
}
.similar-li:nth-child(2n) {
    padding-left: 2px;
}
.similar-li {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-bottom:4px;
    position: relative;
}
.similar-product {
    background-color: white;
    padding-bottom: 6px;
    font-size: 0;
}
.similar-product-text {
    height: 33px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    color: #232326;
    margin-top: 5px;
    line-height: 17px;
    margin-bottom: 3px;
    padding: 0 4px;
}
.similar-product-price {
    color: #f23030;
    font-size: 13px;
    display: block;
    padding: 0 4px;
    position: relative;
    top: 1px;
    height: 25px;
    line-height: 25px;
}
.similar-product-price .big-price {
    font-size: 18px;
}
.guess-button {
    display: block;
    position: absolute;
    top: 0;
    right: 8px;
    text-align: center;
    color: #686868;
    font-size: 12px;
    width: 49px;
    height: 24px;
    line-height: 25px;
    border:1px solid #bfbfbf;
}
.add-more{
    width: 100%;
    text-align: center;
    background: #f3f5f7;
    vertical-align: middle;
    border-top: 1px solid #dedede;
    border-width: 1px 0 0 0; 
    height: 30px;
    line-height: 30px;  
}
.add-more a{
    font-size: 13px;
    color:#989797;
}
.jd-footer {
    background: #f8f8f8;
    color: #848689;
    text-align: center;
    font-size: 12px;
}
.jd-1px-line-up {
    height: 0;
    border-top: 1px solid #bfbfbf;
    border-width: 1px 0 0 0;
}
.jd-footer-links {
    width: 320px;
    margin: 0 auto;
    display: table;
    height: 13px;
    padding: 18px 0;
}
.jd-footer-links li {
    display: table-cell;
    width: 69px;
    height: 13px;
    line-height: 13px;
    font-size: 13px;
}
.jd-footer-links li:first-child, .jd-footer-links li:nth-child(2), .jd-footer-links li:nth-child(3) {
    border-right: 1px solid #d7d7d7;
}
.jd-footer-links li:first-child, .jd-footer-links li:last-child {
    width: 90px;
}
.jd-footer-links li a {
    color: #848689;
    text-decoration: none;
}
.jd-footer-platforms {
    height: 69px;
    width: 320px;
    margin: 0 auto;
    display: table;
}
.jd-footer-platforms li {
    display: table-cell;
}

.jd-footer-copyright {
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #848689;
    font-size: 12px;
}
.jd-footer-platforms li a {
    display: block;
    width: 45px;
    margin: 8px auto;
    font-size: 12px;
    color: #848689;
    position: relative;
}
.jd-footer-platforms li a span i{
    font-size: 32px;
}
.jd-footer-copyright-footer {
    height: 44px;
    line-height: 44px;
    color: #848689;
}
@media screen and (min-width: 410px){
	.bottom-bar-pannel {
    height: 54px;
	}
}
.bottom-bar-pannel {
    position: fixed;
    height: 54px;
    z-index: 28;
    bottom: 0;
    left: 0;
    width: 100%;
}
.bottom-bar-pannel .floor-container {
    overflow-x: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);
}
.floor-container {
    height: 100%;
    overflow: hidden;
    font-size: 0;
}
.bottom-bar-pannel .tab5 {
    height: 100%;
    position: relative;
    background-color: #fff;
}
.bottom-bar-pannel .tab5 li {
	margin-top:4px;
    text-align: center;
    width: 20%;
    float: left;
    height: 100%;
}
@media screen and (min-width: 410px){
	.bottom-bar-pannel .bar-img {
    width: 70px;
	}
}

.bottom-bar-pannel .bar-img {
    display: inline-block;
    width: 65px;
    height: 100%;
    position: relative;
}
.bottom-bar-pannel .bar-img span{
	font-size: 18px;
	color:black;
}
.bottom-bar-pannel .bar-img .home, .bottom-bar-pannel .bar-img .home i{
	color:red;
}
.bottom-bar-pannel .bar-img span i{
    font-size: 24px;
    color:black;
}
.BackToTop{
    position: fixed;
    bottom: 56px;
    right: 8px;
    z-index: 20;
    display: none;
    cursor: pointer;
}
.BackToTop i{
	font-size:40px; 
}





@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}