div,body{
    display: block;
}

a {
    cursor: pointer;
    text-decoration:none;
}	

li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

body {
    margin: 0;
    line-height: 1.2;
    background-color: #f5f5f5;
    font-family: Helvetica,Hiragino Sans GB,Microsoft Yahei,sans-serif;
    font-size: 14px;
    color: #333;
    -webkit-text-size-adjust: none;
}		

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}	

blockquote, button, dl, form, input, ol, p, textarea, ul {
    margin: 0;
    padding: 0;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

img {
    font-size: 0;
    border-style: none;
    vertical-align: middle;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.clearfix{
	*zoom:1;
}		

#header {
    position: relative;
    padding-bottom: 34px;
}		



#global-search .search-inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 17px 0;
}

#logo {
    font-size: 0;
    margin: 0;
    float: left;
    width: 328px;
}	

form {
    display: block;		    
}

#search-form {
	position: relative;
	float: left;
	width: 544px;
	height: 68px;
	margin-top: 4px;
}

#global-nav {
    /*position: absolute;   */  /* 未完成，这里达不到效果，先改了再完善*/
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    color: #fff;
    z-index: 1001;

}	

#global-nav .nav-inner {
    width: 1200px;

    margin: 0 auto;
}

.content-inner {
    width: 1200px;
    margin: 0 auto;
}	

/* ------------------------------------- 以上部分是周四下午做布局 -------------------------------------*/

.feed-hot-index {		    
    margin-top: 15px;
}	

.feed-top-hot {
    float: left;				/* 注意，这里向左偏*/			
    margin-bottom: 0;
}


.feed-right-hot {
    width: 328px;
    float: right;				/* 注意，这里向右偏*/				
    background: #fff;
}		

/* 注意，以下样式被多个地方使用*/
.feed-hot-full .z-column-head, .feed-hot-hits .z-column-head, .feed-hot-index .z-column-head {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 20px;
    padding: 0;
    height: 54px;
    line-height: 54px;
}

.z-column-head {
    padding: 15px 14px 14px 0;
    background-color: #fff;
}		

.feed-hot-hits .z-column-title, .feed-hot-index .z-column-title {
    border: 0;
    height: 54px;
}

.z-column-title {
    position: relative;
    float: left;
    height: 24px;
    padding-left: 14px;
    border-left: 2px solid #f04848;
    font-size: 24px;
    -webkit-transition: border-width 50ms;
    transition: border-width 50ms;
    white-space: nowrap;
}  		


/* ------------------------------------- 以上部分是周四晚上做布局 -------------------------------------*/

#feed-wrap {
    margin-top: 15px;		   
}

#feed-main {
	 position: relative;
    float: left;
    width: 858px;
}

#feed-side {
	position: relative;		   
    float: right;
    width: 328px;		    
    background-color: #fff;
}

#feed-wrap .feed-main-con {
    position: relative;
   
}


#feed-main .feed-main-con {
    background-color: #fff;
}

#feed-main-list {
    padding: 0 14px;
    border-top: 1px solid #f5f5f5;
}

#feed-wrap .feed-row-wide {
    height: 149px;
}

#feed-wrap .side-small-feed {
    border-top: 1px solid #f5f5f5;
}

.feed-hor {
    margin: 14px 7px 0;
    border: 1px solid #f5f5f5;
    background-color: #fff;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.z-hor-feed {
    zoom: 1;
}
  
#feed-wrap .feed-side-haowu {
    padding: 14px 0;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

#feed-side>div {
    position: relative;		    
    background-color: #fff;
    z-index: 99;
}

.index-floor {		    
      
}

.floor-head
{
    padding-top: 20px;
    padding-bottom: 20px;

}

.floor-con-top>li.list-first {
    margin-left: 0;
}

.floor-con-top>li {
    float: left;
    margin-left: 14px;
}

.floor-operate {
    margin-top: 5px;
    width: 220px;
}

.floor-con-tab {
    border-bottom: 1px solid #f04848;
    overflow: hidden;
    position: relative;
}

/* ---------------------------------------以下内容是周六添加---------------------------------------*/
.floor-con-tab >li {
    position: relative;
    float: left;
    height: 50px;
    margin-bottom: -1px;
}

.floor-con-tab >li a {
    display: inline-block;
    height: 50px;
    padding: 0 17px;
    line-height: 50px;
    text-align: center;
    color: #333;
    font-size: 16px;
}

.floor-con-tab >li.active {
    background-color: #f04848;
}

.floor-con-ul {
    overflow: hidden;
    width: 1200px;
    background: #fff;
}

#footer {
    position: relative;
    background-color: #333;
    color: #fff;
}

#footer .footer-inner {
    width: 1200px;
    margin: 0 auto;
}

#footer .footer-left {
    float: left;
    max-width: 858px;
}

#footer .footer-right {
    float: right;
    max-width: 314px;
}


.footer-right {
    width: 136px;
    padding-top: 38px;
}

.footer-l-top {
    padding-top: 38px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #696969;
}

.footer-l-mid {
    min-height: 81px;
}

.footer-l-btm {
    margin-top: 42px;
}

#footer .footer-right {
    float: right;
    max-width: 314px;
}

.footer-right {
    width: 136px;
    padding-top: 38px;
}

.footer-l-top a {
    display: inline-block;
    color: #f5f5f5;
    margin-right: 52px;
}

.footer-l-mid dd a {
    display: inline-block;
    margin: 8px 42px 8px 0;
    line-height: 12px;
    color: #aaa;
    white-space: nowrap;
    font-size: 12px;
}

.footer-l-mid dd {
    margin: 8px 0 0;
}

dd {
    display: block;
    -webkit-margin-start: 40px;
}

.footer-l-btm p {
    margin-bottom: 14px;
    line-height: 12px;
    font-size: 12px;
    color: #aaa;
}

#qrcode {
    padding-bottom: 11px;
    margin-bottom: 17px;
    background-color: #fff;
}

#qrcode>img {
    max-width: 100%;
}

/* ------------------------------------------------------------------------------*/
#category {
    width: 192px;
    height: 485px;
    background: #fff;
    float: left;
}

.slick-wrap {
    float: left;
    overflow: hidden;
    width: 680px;
    height: 485px;
   	 background: #fff;
}		

.entry {
    float: left;
    height: 485px;
    width: 328px;
   	 background: #fff;
}	

/*采用本样式的div 有细节待完成*/
.todo-area{
	border:1px solid green;			
}	
				
/* ------------------------------------- 以下内容为tab加入-----------------------------------------*/
.floor-con-main {
    float: left;
    display: none;
    width: 858px;
    padding: 14px 7px 0;
    background-color: #fff;
}

.floor-con-main.active {
    display: block;
}

.floor-content .floor-tab-side {
    overflow: hidden;
    padding: 14px;
    background: #fff;
}

.floor-tab-single .floor-tab-main {
    float: left;
    width: 872px;
}

.floor-price-list>li {
    float: left;
    width: 50%;
}

.good-price-feed {
    margin: 0 7px 14px;
    border: 1px solid #f5f5f5;
    background-color: #fff;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.good-price-feed .z-feed-img {
    width: 108px;
    height: 108px;
    margin: 4px 14px 4px 4px;
}

.floor-con-tab ul>li.active {
    background-color: #f04848;
}