/*------------整个页面css------------*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    line-height:1.2;
    background-color: #f5f5f5;
    font-family: Helvetica,Hiragino Sans GB,Microsoft Yahei,sans-serif;
    font-size: 14px;
    color: #333;
}

#feed-main {
    position: relative;
}
#feed-main {
    float: left;
    width: 858px;
}
.z-column-head {
    padding: 15px 14px 25px 0;
    width: auto;
    background-color: #fff;
}
.feed-main-con {
    position: relative;
    padding-bottom: 5px;
}
#feed-main .feed-main-con {
    background-color: #fff;
}
#feed-main-list {
    padding: 0 14px;
    border-top: 1px solid #f5f5f5;
}
.feed-row-wide {
    height: 149px;
}
#feed-main-list>li {
    padding: 20px 0;
    border-bottom: 1px solid #f5f5f5;
}
.z-column-title {
    position: relative;
    float: left;
    height: 24px;
    padding-left: 14px;
    border-left: 2px solid #f04848;
    font-size: 24px;
    -webkit-transition: border-width 50ms;
    transition: border-width 50ms;
    white-space: nowrap;
}
.z-column-title .subtitle {
    vertical-align: top;
    font-size: 23px;
    color: #333;
}
.z-feed-title a:hover {
    color: #5188a6;
}
.z-feed-title a {
    color: #222;
}
.z-column-tips {
    position: relative;
    display: inline-block;
    color: #f04848;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    margin-left: 13px;
    padding-left: 8px;
    padding-right: 2px;
    vertical-align: top;
}
.z-column-more {
    float: right;
    line-height: 24px;
}
.z-column-more a{
    color: #999;
}
.z-column-more a:hover {
    color: #5188a6;
    text-decoration: underline;
}
.z-clearfix, .z-hor-feed{
	zoom:1;
}
.z-hor-feed:before{
	content:'';
	display: table;
}
.z-feed-img {
    width: 140px;
    height: 140px;
    margin-right: 20px;
    position: relative;
    float: left;
    text-align: center;
    font-size: 0;
    zoom:1;
}
.feed-hor .z-feed-img {
    width: 108px;
    height: 108px;
    margin: 4px 14px 4px 4px;
}

.z-hor-feed .z-feed-img {
    position: relative;
    float: left;
}
.z-hor-feed .z-feed-img img, .z-img-center img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
img {
    font-size: 0;
    border-style: none;
    vertical-align: middle;
}
/*.z-feed-img:before{
	content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}*/
.z-feed-img a:first-child {
    display: inline-block;
    position: absolute;
    left: -14px;
    top: 4px;
    padding: 4px 4px;
    border-radius: 0 2px 2px 0;
    font-size: 12px;
    z-index: 1;
    text-decoration: none;
}
.z-tag-guonei {
    background-color: #f47f7f;
    background-color: rgba(240,72,72,.7);
    color: #fff;
}
.z-tag-guonei:hover {
    background-color: #fcdada;
    background-color: rgba(240,72,72,.2);
    color: #f04848;
    text-decoration: none;
}
.z-tag-haitao, .z-tag-kuajing {
    background-color: #666;
    background-color: rgba(0,0,0,.6);
    color: #fff;
}
.z-tag-haitao:hover, .z-tag-kuajing:hover {
    background-color: #d9d9d9;
    background-color: rgba(0,0,0,.15);
    color: #666;
    text-decoration: none;
}
.z-feed-img a:hover{
    color: #5188a6;
    cursor: pointer;
}
/*.z-feed-content {
    width: 660px;
    float: left;
    overflow: visible;
}*/
.z-feed-title {
    height: 56px;
    max-height: 56px;
    margin-bottom: 8px;
    line-height: 28px;
    font-size: 18px;
    margin-top: -1px;
}
.feed-block-descripe {
    height: 40px;
    margin-bottom: 11px;
    line-height: 20px;
    color: #777;
}
.feed-block a:hover {
    text-decoration: underline;
}
.feed-block-descripe a {
    color: #5188a6;
    cursor: pointer;
}
strong{
    font-weight: bold;
}
.z-highlight {
    color: #f04848;
}
.feed-block-title a .z-highlight, .feed-block .z-feed-title a .z-highlight {
    margin-left: 8px;
}
.z-feed-foot-l {
    float: left;
    position: relative;
    /*line-height: 30px;*/
}
.feed-block .z-feed-foot-l {
    line-height: 30px;
}
.z-hor-feed .z-feed-foot .z-feed-foot-r {
    float: right;
}
.feed-block .feed-link-btn {
    float: right;
}
.feed-link-btn {
    position: relative;
    width: 90px;
    height: 30px;
    margin-left: 14px;
}
.feed-link-btn-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 88px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    background-color: #f04848;
    /*border: 1px solid;*/
    border: 1px solid #f04848;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}
.feed-link-btn-inner .z-btn-red {
    margin: -1px -1px 5px;
    border-radius: 0;
    text-decoration: none!important;
}
.z-btn-red{
	background-color: #f16969;
	color:#fff;
}
.feed-link-btn-inner:hover {
    background-color: #f16969;
}
.feed-block .feed-block-extras {
    display: inline-block;
    margin-top: 8px;
    line-height: 14px;
    color: #999;
}
.feed-block .feed-block-extras a {
    display: inline-block;
    margin-left: 12px;
    max-width: 150px;
    overflow: hidden;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    color: #333;
}
.feed-block a:hover {
    text-decoration: underline;
}
.z-hor-feed:after{
	content:'';
	display: table;
	clear: both;
}
.feed-block .feed-btn-group {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    font-size: 0;
}
.feed-block .feed-btn-group .price-btn-down {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 0;
}
.feed-block .feed-btn-group .price-btn-down, .feed-block .feed-btn-group .price-btn-up {
    position: relative;
    display: inline-block;
    height: 28px;
    min-width: 42px;
    padding: 0 10px;
    border: 1px solid #eee;
    line-height: 29px;
    text-align: center;
    font-size: 14px;
    color: #999;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.feed-block .feed-btn-group:hover .price-btn-down {
    border-color: #999;
    background-color: #999;
    color: #fff;
}
.feed-block .feed-btn-group:hover .price-btn-up {
    border-color: #f04848;
    background-color: #f04848;
    color: #fff;
}
.feed-block .feed-btn-group .price-btn-down i, .feed-block .feed-btn-group .price-btn-up i {
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-right: 12px;
    vertical-align: -1px;
}
.feed-block .feed-btn-group .price-btn-down .voted-wrap, .feed-block .feed-btn-group .price-btn-up .voted-wrap {
    position: absolute;
    top: 1px;
    left: 10px;
    right: 10px;
    visibility: hidden;
    text-align: center;
}
.feed-block .feed-btn-group .price-btn-down .one-plus {
    color: #999!important;
    top: 5px;
}

.feed-block .feed-btn-group .price-btn-down .one-plus, .feed-block .feed-btn-group .price-btn-up .one-plus {
    position: absolute;
    left: 24px;
    font-size: 18px;
}
.one-plus {
    display: none;
}
.z-group-data {
    display: inline-block;
    margin-right: 22px;
    color: #999;
    cursor: pointer;
}
.z-group-data i {
    display: inline-block;
    margin-right: 7px;
    vertical-align: -1px;
    text-decoration: none!important;
}
.z-group-data:hover{
	color: #f04848;
}
.z-feed-foot a{
	text-decoration: none;
}
.feed-main-con .feed-main-more {
    position: relative;
    margin-top: -1px;
    z-index: 1;
}
.feed-main-more {
    display: block;
    margin: 14px;
    border: 1px solid #fcdada;
    border-top: 0;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background-color: #fdecec;
    color: #f04848;
}

/*----------------------以上是图40样式，值得买精选-----------------------------*/

#feed-side {
    float: right;
    width: 328px;
    margin-left: 14px;
    background-color: #fff;
}
.side-small-feed {
    border-top: 1px solid #f5f5f5;
}
.side-small-feed li {
    margin: 18px 14px 0;
    border: 0;
}
.side-small-feed li:hover {
    border: 0;
    border-color: transparent;
    box-shadow: 0 0 0 transparent;
}
.side-small-feed .z-feed-img {
    position: relative;
    width: 78px;
    height: 78px;
    margin: 0 14px 0 0;
}
.z-hor-feed .z-feed-img {
    position: relative;
    float: left;
}
.z-hor-feed .z-feed-img, .z-img-center {
    text-align: center;
    font-size: 0;
    zoom: 1;
}
.z-hor-feed .z-feed-img:before, .z-img-center:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.side-small-feed .z-feed-img label {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0 0 4px 0;
    /*z-index: 999;*/
}
.z-tag-time {
    /*background-color: #fff;*/
    background-color: hsla(0,0%,100%,.85);
    color: #666;
    display: inline-block;
    height: 17px;
    padding: 0 3px;
    border-radius: 2px;
    margin-right: 14px;
    line-height: 18px;
    font-size: 12px;
    vertical-align: 3px;
}
.feed-hor:hover {
    border-color: #eee;
    box-shadow: 0 1px 2px #eee;
}
.feed-hor {
    margin: 14px 7px 0;
    border: 1px solid #f5f5f5;
    background-color: #fff;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.feed-hor .z-feed-content {
    padding-right: 6px;
}
.side-small-feed .z-feed-title {
    height: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 30px;
}
.feed-hor .z-feed-content .z-feed-title {
    height: 40px;
    overflow: hidden;
    margin-top: 4px;
    line-height:20px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom:20px;
}
.feed-hor .z-feed-content .z-feed-title a {
    color: #333;
}
.feed-hor .z-feed-content .z-feed-title a:hover {
    color: #5188a6;
}
.side-small-feed .z-highlight {
    color: #f04848;
}
.feed-hor .z-feed-content .z-highlight {
    height: 16px;
    margin: 7px 0 13px;
    font-size: 14px;
}
.feed-hor span {
    color: #999;
}
.feed-hor .link-direct, .feed-hor a.z-group-data:hover, .feed-hor a.z-group-data:hover i {
    color: #f04848;
}
.z-hor-feed .z-feed-foot .z-feed-foot-r {
    float: right;
}
.side-small-feed .z-feed-foot-l {
    width: 130px;
    height: 16px;
}
.z-hor-feed .z-feed-foot .z-feed-foot-l {
    float: left;
    position: relative;
}
.z-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.feed-side-haowu {
    padding: 14px 0;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}
#feed-side>div {
    position: relative;
    width: 328px;
    background-color: #fff;
    z-index: 99;
}
.feed-side-haowu a:first-child img {
    margin-bottom: 14px;
}
.feed-side-haowu img {
    width: 300px;
    height: 128px;
    margin: 0 14px;
}
#feed-side .good-thing-foot {
    padding: 15px 14px;
    background-color: #fff;
    width: 300px;
    height: 250px;
}

#panel_set .panel-row:first-child {
    padding: 0.3em;
}
#panel_set .panel-row {
    display: block;
    padding: 0 0 0.3em 0;
}


/*-----------------------以上是热门 41 42样式-----------------------*/
.index-floor{
	margin-bottom: 28px;
	padding-top: 50px;
	margin-top: -50px;
}
.floor-head{
	margin-bottom: 12px;
}
.floor-head .floor-title{
	float:left;
	padding-left:14px;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	font-weight: 400;
	cursor: pointer;
	border-left:4px solid #f04848;
	transition: border-width 50ms;
}
.floor-head .floor-title a{
	color:#333;
}
.floor-head .floor-head-links{
	float: right;
	color:#666;
	line-height: 30px;
}
.floor-head .floor-head-links>a{
	display: inline-block;
	margin-right: 10px;
}
a {
    color: #5188a6;
    cursor: pointer;
}
.z-highlight{
	color: #f04848;
}
.floor-head .floor-head-links>a:hover{
	text-decoration: underline;
}
.floor-head .floor-head-links span.split{
	display: inline-block;
	height: 14px;
	width: 0;
	border-left: 1px solid #aaa;
	margin-left: 7px;
	margin-right: 15px;
	vertical-align: -2px;
}
.floor-con-top{
	padding: 14px;
	background-color: #fff;
}
.z-clearfix:after, .z-hor-feed:after{
	clear: both;
}/*清除浮动很重要*/
.z-clearfix:after, .z-clearfix:before, .z-hor-feed:after, .z-hor-feed:before {
    content: "";
    display: table;
}
.floor-con-top>li.list-first{
	margin-left: 0;
}
.floor-con-top>li{
	float:left;
	margin-left: 14px;
}
.floor-con-top>li.list-first .floor-operate{
	width: 236px;
}
.floor-operate{
	margin-top:5px;
	width: 220px;
}

.floor-operate-descripe {
    height: 15px;
    margin: 5px 0 10px;
    color: #666;
}
.floor-operate-title{
	font-size: 20px;
	font-weight: 400;
	color:#333;
}

.floor-operate-descripe, .floor-operate-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#threec .list-first .floor-operate-title a {
    color: #2b6ec8;
}
.floor-con-top>li.list-first .floor-operate-descripe {
    height: 22px;
    margin-bottom: 2px;
    white-space: normal;
}
#threec .list-first .operate-tag {
    background-color: rgba(43,110,200,.6);
}
.floor-operate-descripe .operate-tag {
    display: inline-block;
    min-width: 28px;
    height: 22px;
    padding: 0 7px;
    margin-right: 4px;
    line-height: 22px;
    text-align: center;
    color: #fff;
}
.floor-con-top>li.list-first .floor-operate-con {
    background: url(http://res.smzdm.com/pc/v1.0/dist/img/embed/bgimg.png) no-repeat 50%;
}
.floor-operate-con img:hover {
    opacity: .9;
}
.floor-operate-con img {
    max-width: 100%;
    height: 156px;
}
.floor-con-tab {
    border-bottom: 1px solid #f04848;
    overflow: hidden;
    position: relative;
}
.floor-con-tab ul {
    float: left;
}
.floor-con-tab ul>li {
    position: relative;
    float: left;
    height: 50px;
    margin-bottom: -1px;
}
.floor-con-tab ul>li a {
    display: inline-block;
    height: 50px;
    padding: 0 17px;
    line-height: 50px;
    text-align: center;
    color: #333;
    font-size: 16px;
}





















@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}