*{
	margin:0;
	padding:0;
	font-family:"Microsoft YaHei",sans-serif;
}
li{
	list-style:none;
}
a{
	text-decoration: none;
}
.box{
	overflow: hidden;
}
.twoCnt img,.threeCnt img{
	width:350px;
	height:250px;
}
.list{
	height:100%;
	transition: 0.5s;
}
ul>.view{
	position:relative;
	background:#F8A4A4;
	height:100%;
}
.center{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.oneCnt{
	text-align: center;
}
.oneCnt>h1{
	font-size: 55px;
	color: #fff;
	margin-bottom:60px;
}
.oneCnt>h2{
	font-size:35px;
	margin-top:10px;
	color:#fff;
}
.oneCnt>p{
	font-size:25px;
	color:#fff;
	margin-top:10px;
}
.oneCnt .book{
    background-color: rgba(158,158,158,1);
    color: #fff;
    opacity: 0.5;
	display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}
.oneCnt .github{
	background-color: #fff;
    color: #000;
    opacity: 0.5;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}
.oneCnt .book i, .oneCnt .github i{
	font-size: 24px;
}
.oneCnt .book:hover, .oneCnt .github:hover{
	opacity: 1;
}
.twoCnt h1,.threeCnt h1{
	text-align: center;
	margin-bottom:50px;
	color:#fff;
}
.twoCnt .c,.threeCnt .c{
	width:950px;
	display:flex;
}
.twoCnt a,.threeCnt a{
	font-size:17px;
	padding:5px;
	color:#eee;
	margin-left:10px;
	background:rgb(147, 160, 17);
}

.twoCnt .b,.threeCnt .b{
	position: relative;
	margin-left:50px;
	width:500px;
	height:250px;
	border:1px solid black;
}
.c p{
	position:absolute;
	font-size:18px;
	top:8px;
	left:110px;
	color:#fff;
}

.c .work-left{
	width:50%;

}

.work-left .work-img{
    width: 350px;
    height: 250px;	
}

.c .work-right{
	width:50%;
	
}

.c .goto-show{
	margin-top: 30px;
	text-align:center;	
}

.c ul{
	margin-left:50px;
}
.c li{
	width:500px;
	margin-bottom:70px;
	position:relative;
}
.project h1,.skills h1, .tree h1{
	text-align: center;
	color:#fff;
}
/*.project img{
	width:50px;
	height:50px;
    border-radius: 50%;
    padding: 15px;
	display: block;
	float: left;
	margin: 0 50px;
	line-height: 50px;

}*/
.project span{
    color: #fff;
    font-size: 50px;
    border-radius: 50%;
    background-color: rgba(179, 103, 103, 0.5);
    padding: 15px;
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 50px;
    line-height: 50px;
}

.project span .icon-carousel{
	padding:6px 6px;
	font-size:42px;
}
.project span .icon-phone{
	padding:6px 2px;
	font-size:48px;
}
.project span .icon-tab{
	padding:6px 3px;
	font-size:48px;
}
.project span .icon-resume{
	padding:6px 6px;
	font-size:42px;
}
.project>ul{
	width: 1200px;
	margin:40px auto;
}
.project>ul:after{
	content: '';
	display: block;
	clear: both;
}
.project>ul>li{
	float: left;
	width: 600px;
	text-align: left;
	margin-bottom: 40px;
	height: 200px;
}
.project h3{
	margin-top: 9px;
	margin-bottom: 9px;
	opacity: 0.5;
}
.project a{
	color:#000;
}
.project h3:hover{
	opacity:1;
}
.project p{
	font-size: 20px;
	color:#fff;
	padding: 3px 0;
	width: 415px;
	float: right;
}
.skills h1{
	margin-bottom: 40px;
}
.skills>div>ul>li>p.lan{
	float: left;
	line-height: 50px;
	color: #fff;
	font-size: 30px;
	width: 200px;
	text-align: left;
}
.skills>div>ul>li>p.percentage{
	float: right;
	line-height: 50px;
	color: #fff;
	font-size: 30px;
	text-align: right; 
}
.skills>div>ul>li:after{
	content: '';
	display: block;
	clear: both;
}
.skills>div>ul>li{
	width: 1100px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.pannel-ct{
	height: 50px;
	width: 800px;
	background-color: rgb(240, 236, 236);
	margin: 0 auto;
	float: left;
}
.pannel{
	width: 600px;
	height: 50px;
	background-color: #333;
}
.html .pannel{
	width: 650px;
}
.css .pannel{
	width: 600px;
}
.js .pannel{
	width: 550px;
}
.jq .pannel{
	width: 590px;
}

.tree{
	font-size:20px;
	color:#fff;
}
.tree>ul>li{
	margin-top:20px;
}


.nav{
	position:fixed;
	top:50%;
	right:50px;
	transform:translate(0,-50%);

}
.nav>li{
	width:20px;
	height:20px;
	border-radius: 100%;
	margin-top:30px;
	background:#bbb;
	cursor:pointer;
}
.six a{
	position:absolute;
	font-size:30px;
	color:#fff;
	top:60%;
	left:50%;
	transform:translate(-50%,0);
}

       